@import "tailwindcss";

@theme inline {
  /* Color */
  --color-white: #f3f3f3;
  --color-black: #050505;
  --color-brown: #ac9a96;
  --color-beige: #fff7ec;
  --color-green: #a0ac96;
  /* Radius */
  --radius-1: 6px;
  --radius-2: 10px;
  --radius-3: 12px;
  /* Padding */
  --padding-1: 4px;
  --padding-2: 8px;
  --padding-3: 12px;
  --padding-4: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .radius-1 {
    border-radius: var(--radius-1);
  }
  .radius-2 {
    border-radius: var(--radius-2);
  }
  .radius-3 {
    border-radius: var(--radius-3);
  }
}
